<!-- Partial HTML for query area of main.html -->
<section th:fragment="query">
    <h2 class="section-header">Search</h2>
    <p class="info-text">Looking for your next fave track?</p>
    <div class="card p-3">
        <form action="/submitQuery" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" name="year" placeholder="Enter Year">
            </div>
            <div class="form-group">
                <label for="artist">Artist</label>
                <input type="text" class="form-control" id="artist" name="artist" placeholder="Enter Artist">
            </div>
            <div class="form-group">
                <label for="album">Album</label>
                <input type="text" class="form-control" id="album" name="album" placeholder="Enter Album">
            </div>
            <!-- TODO: Return on error: "No result is retrieved. Please query again"-->
            <p th:if="${queryErrorMessage}" class="error-message" th:text="${queryErrorMessage}"></p>
            <div class="form-actions">
                <button type="submit">Query</button>
            </div>
        </form>
    </div>
</section>
