<!-- Partial HTML for subscription area of main.html -->
<section th:fragment="subscription">
    <div class="card p-3">
        <h2 class="section-header">Subscriptions</h2>
        <p class="info-text">Songs you've subscribed to.</p>
        <div class="scrollable-subscription-area">
            <!-- Check if there are any songs -->
            <div th:if="${#lists.isEmpty(songs)}">
                <p class="no-subscriptions-message">You don't have any subscriptions....yet. Make a query to start the jams!</p>
            </div>
            <div th:each="song : ${songs}" class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${song.title}">Song Title</h5>
                    <p class="card-text" th:text="'Artist: ' + ${song.artist}">Artist Name</p>
                    <p class="card-text" th:text="'Album: ' + ${song.album}">Album Name</p>
                </div>
            </div>
    </div>
</section>
