<!-- Partial HTML for subscription area of main.html -->
<section th:fragment="subscription">
    <div class="card p-3">
        <h2 class="section-header">Subscriptions</h2>
        <p class="info-text">All the songs you already know and love.</p>
        <div class="scrollable-subscription-area">
            <!-- Check if there are any songs -->
            <!-- Adapted from example here: https://www.baeldung.com/thymeleaf-list (viewed: 2025-04-06) -->
            <div th:if="${#lists.isEmpty(subscribedSongs)}">
                <p class="no-subscriptions-message">You don't have any subscriptions....yet. Why not search for some new jams?</p>
            </div>
            <!-- TODO: A            -->
            <div th:each="song : ${subscribedSongs}" class="card mb-3"
                 data-title="${song.title}" data-album="${song.album}">
                <div class="card-body">
                    <div class="image-column">
                        <img th:src="${song.s3_img_URL}" alt="Song Image" class="img-fluid">
                    </div>
                    <div class="details-column">
                        <h5 class="card-title" th:text="${song.title}">Song Title</h5>
                        <p class="card-text" th:text="'Artist: ' + ${song.artist}">Artist Name</p>
                        <p class="card-text" th:text="'Year: ' + ${song.year}">Year</p>
                        <p class="card-text" th:text="'Album: ' + ${song.album}">Album Name</p>
                    </div>
                    <!-- Hidden form to trigger song removal -->
                    <div class="button-container">
                        <form th:action="@{/subscription/remove}" method="post">
                            <input type="hidden" name="email" th:value="${user.email}" />
                            <input type="hidden" name="songs[0].title" th:value="${song.title}" />
                            <input type="hidden" name="songs[0].album" th:value="${song.album}" />
                            <button class="song-action-button" type="submit">Unsubscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
