body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.message a {
    color: #5cb85c;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 15px;
    font-weight: bold;
}

.success-message {
    color: darkgreen;
    margin-top: 15px;
    font-weight: bold;
}

.custom-navbar {
    background-color: #6dc980;
}
