<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </head>
    <body>
        <!--/api/users/login-->
        <div class="container">
            <form th:object="${user}"
                  th:action="@{/login}"
                  method="post"
                  class="login-form">
                <h2>Login</h2>
                <div> <!-- Display error/success messages if present -->
                    <p th:if="${loginErrorMessage}" class="error-message" th:text="${loginErrorMessage}"></p>
                    <p th:if="${registrationSuccessMessage}" class="success-message" th:text="${registrationSuccessMessage}"></p>
                    <p th:if="${logoutSuccessMessage}" class="success-message" th:text="${logoutSuccessMessage}"></p>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email"
                           th:field="*{email}"
                           name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password"
                           th:field="*{password}"
                           name="password" required>
                </div>
                <div class="form-actions">
                    <button type="submit">Login</button>
                </div>

                <p class="message">Not registered? <a th:href="@{/register}">Create an account</a></p>
            </form>
        </div>
    </body>
</html>