<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <!--/api/users/login-->
        <div class="container">
            <form th:object="${user}"
                  th:action="@{/login}"
                  method="post"
                  class="login-form">
                <div>
                    <p th:if="${registrationSuccessMessage}" class="success-message"
                       th:text="${registrationSuccessMessage}"></p>
                </div>
                <h2>Login</h2>
                <!-- Display error message if present -->
<!--                <div>-->
<!--                    <p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>-->
<!--                </div>-->
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email"
                           th:field="*{email}"
                           name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password"
                           th:field="*{password}"
                           name="password" required>
                </div>
                <button type="submit">Login</button>
                <p class="message">Not registered? <a th:href="@{/register}">Create an account</a></p>
            </form>
        </div>
    </body>
</html>