<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="container">
            <form th:object="${userDTO}"
                  th:action="@{/login}"
                  method="post"
                  class="login-form">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username"
                           th:field="*{user_name}"
                           name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password"
                           th:field="*{password}"
                           name="password" required>
                </div>
                <button type="submit">Login</button>
                <p class="message">Not registered? <a th:href="@{/signup}">Create an account</a></p>
            </form>
        </div>
    </body>
</html>