<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register A New Account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <form th:object="${userDTO}"
              th:action="@{/register}"
              method="post"
              class="register-form">
            <h2>Register</h2>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email"
                       th:field="*{email}"
                       name="email" required>
                <div>
                    <p th:if="${emailErrorMessage}" class="error-message" th:text="${emailErrorMessage}"></p>
                </div>
            </div>
            <div class="input-group">
                <label for="user_name">Username</label>
                <input type="text" id="user_name"
                       th:field="*{user_name}"
                       name="user_name" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password"
                       th:field="*{password}"
                       name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
                <div>
                    <p th:if="${passwordErrorMessage}" class="error-message" th:text="${passwordErrorMessage}"></p>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>